---
import ContentContainer from "./ContentContainer.astro";
import Meta from "./Meta.astro";

interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article>
  <h1 class="text-5xl font-bold mb-10 leading-tight">
    {post.frontmatter.title}
  </h1>

  <Meta
    categories={post.frontmatter.categories}
    pubDate={post.frontmatter.pubDate}
    readingTime={post.frontmatter.readingTime}
    area={post.frontmatter.area}
  />

  <ContentContainer>
    <post.Content />
  </ContentContainer>
</article>
